#slkwooadmin {
}
.pass_button_line {
	display: inline-flex;
}
.pass_text {
	font-size: 1.5em;
	line-height: 1.5em;
	color: red;
}
.pass_code_text {
	color: red;
}
.tableStyle {
	border-collapse: collapse;
}
.date_expiry_color {
	background-color: white;
}
